<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TUI France</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#" class="scroll-top">Back To Top</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/toufikm/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://github.com/Tuki-M" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>
                        For TUI France

                        | By: <a href="https://www.linkedin.com/in/toufikm/" target="_blank"><em>Tuki</em></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    <script>
        window.CreateFlightUrl = '@Url.Action("Create", "Flights")';
        window.EditFlightUrl = '@Url.Action("Edit", "Flights")';
    </script>
</body>
</html>
